<a href="https://colab.research.google.com/github/makagan/SSI_Projects/blob/main/python_basics/python_intro_part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction to Python (Part I)

Based on [W3Schools tutorial](https://www.w3schools.com/python/python_intro.asp).

Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

* web development (server-side)
* software development
* mathematics
* system scripting

### **What can Python do?**

* can be used on a server to create web applications
* can be used alongside software to create workflows
* can connect to database systems
* can read and modify files
* can be used to handle big data and perform complex mathematics
* can be used for rapid prototyping, or for production-ready software development

### **Why Python?**

* works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc)
* has a simple syntax similar to the English language
* has syntax that allows developers to write programs with fewer lines than some other programming languages
* runs on an interpreter system, meaning that code can be executed as soon as it is written (quick prototyping)
* can be treated in a procedural way, an object-oriented way or a functional way

## Quickstart

Python is an interpreted programming language, this means that as a developer you write Python (`.py`) files in a text editor and then put those files into the python interpreter to be executed.

The way to run a python file is like this on the command line:

`python helloworld.py`

In [ ]:
#Fetch python script from github
!curl https://raw.githubusercontent.com/jngadiub/ML_course_Pavia_23/main/python_basics/helloworld.py -o helloworld.py

In [ ]:
#Execute script
!python helloworld.py

Let's look at the [script](https://raw.githubusercontent.com/jngadiub/ML_course_Padova_23/main/helloworld.py).

**NB:** the exclamation sign `!` when executing the script or any other command is only need in a jupyter notebook. It is not needed when executing from terminal (which is the standard use).

Because we are in jupyter we can also just type the content of `.py` script here as:

In [ ]:
print("Hello, World!")

Let's also try python interactively from a terminal. First check that you have python installed typing:

```
python --version
```

And then type:

```
python
```

To exit type:

```
exit()
```

If you find that you do not have Python installed on your computer, then you can download it for free from the following website: https://www.python.org/.

## Indentation

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

Let's see a few examples:

**Example 1**

In [ ]:
if 5 > 2:
  print("Five is greater than two!")

**Example 2**

Python will give you an error if you skip the indentation:

In [ ]:
if 5 > 2:
print("Five is greater than two!")

**Example 3**

The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.

In [ ]:
if 5 > 2:
 print("Five is greater than two!")
if 5 > 2:
        print("Five is greater than two!")

**Example 4**

You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

In [ ]:
if 5 > 2:
Â print("Five is greater than two!")
        print("Five is greater than two!")

## Comments

Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

In [ ]:
#This is a comment.
print("Hello, World!")

Comments can be placed at the end of a line, and Python will ignore the rest of the line:

In [ ]:
 print("Hello, World!") #This is a comment

A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code:

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

For multi line comment you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

As long as the string is not assigned to a variable, Python will read the code, but then ignore it, and you have made a multiline comment.

## Variables

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
y = "John"

*Exercise: print the values of x of and y in one line.*

Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str

If you want to specify the data type of a variable, this can be done with casting:

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

You can get the data type of a variable with the `type()` function. You can find several built-in data types at [this link](https://www.w3schools.com/python/python_datatypes.asp).

*Exercise 1: print the type of the above variables.*

*Exercise 2: declare a number as str and cast to float. What's the final type after the casting?*

Python allows you to assign values to multiple variables in one line and also to assign the same value to multiple variables in one line:

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
x = y = z = "Orange"

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called *unpacking*.

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

*Exercise: declare three variables of any type of your choice and print their sum.*

Variables that are created outside of a function (as in all of the examples above) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

If you create a variable with the same name inside a function, this variable will be local, and can only be used inside the function. The global variable with the same name will remain as it was, global and with the original value.

In [ ]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the `global` keyword.

In [ ]:
def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

## Conditions and `if` statements

Python supports the usual logical conditions from mathematics:

* Equals: `a == b`
* Not Equals: `a != b`
* Less than: `a < b`
* Less than or equal to: `a <= b`
* Greater than: `a > b`
* Greater than or equal to: `a >= b`

These conditions can be used in several ways, most commonly in "if statements" and loops.

An "if statement" is written by using the `if` keyword.

In [ ]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

The `elif` keyword is pythons way of saying "if the previous conditions were not true, then try this condition".

In [ ]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

The `else` keyword catches anything which isn't caught by the preceding conditions.

In [ ]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

NB, You can also have an `else` without the `elif`. It depends on the logic you want to implement, i.e. if you have multiple options or not.

If you have only one condition to check, you can put it on the same line as the `if` statement.

In [ ]:
a = 200
b = 33
if a > b: print("a is greater than b")
print("A") if a > b else print("B")

You can also have multiple else statements on the same line:

In [ ]:
print("A") if a > b else print("=") if a == b else print("B")

The `and` keyword is a logical operator, and is used to combine conditional statements:

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Similarly, the `or` keyword is a logical operator, and is used to combine conditional statements.

*Exercise: implement an `or` condition and check result.*

## Arrays

Arrays (also called `list` in Python) are used to store multiple values in one single variable:

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

You can access the element of an array as:

In [ ]:
x = cars[0]
print(x)

Negative indexing means start from the end

`-1` refers to the last item, `-2` refers to the second last item etc.

In [ ]:
print(cars[-1])
print(cars[-2])

You can specify a range of indexes by specifying where to start and where to end the range.

When specifying a range, the return value will be a new list with the specified items.

In [ ]:
cars = ["Ford", "Volvo", "BMW", "Toyota", "Jeep", "Honda"]
print(cars[2:5])

By leaving out the start value, the range will start at the first item:

In [ ]:
print(cars[:4])

By leaving out the end value, the range will go on to the end of the list:

In [ ]:
print(cars[2:])

To determine if a specified item is present in a list use the `in` keyword:

In [ ]:
if "Volvo" in cars:
  print("Yes, 'Volvo' is in the cars list")

And you can also determin if a specified item is NOT in a list using the `not in` keyword:

In [ ]:
if "Hyundai" not in cars:
  print("No, 'Hyundai' is not in the cars list")

You can also modify the value of an element of an array:

In [ ]:
cars = ["Ford", "Volvo", "BMW"] 
cars[0] = "Toyota"
print(cars)

To change the value of multiple items, define a list with the new values, and refer to the range of index numbers where you want to insert the new values:

In [ ]:
cars = ["Ford", "Volvo", "BMW", "Toyota", "Jeep", "Honda"]
cars[1:3] = ["Hyundai", "Fiat"]
print(cars)

*Question 1: what happens **if** you insert **more** items than you replace?*

*Question 2: what happens **if** you insert **less** items than you replace?*

Use the `len()` method to return the length of an array (the number of elements in an array).

In [ ]:
print(len(cars))

You can use the `append()` method to add an element to an array:

In [ ]:
cars = ["Ford", "Volvo", "BMW"] 
cars.append("Honda") 
print(cars)

You can use the `pop()` method to remove an element from the array using its index:

In [ ]:
cars.pop(1) 
print(cars)

Or you can use the `remove()` method to remove an element from the array using its value:

In [ ]:
cars = ["Ford", "Volvo", "BMW"] 
cars.remove("BMW") 
print(cars)

To insert a new list item, without replacing any of the existing values, we can use the `insert()` method, which inserts an item at the specified index:

In [ ]:
cars = ["Ford", "Volvo", "BMW"] 
cars.insert(2,"Honda") 
print(cars)

To append elements from another list to the current list, use the `extend()` method:

In [ ]:
my_cars = ["Ford", "Volvo", "BMW"] 
your_cars = ["Toyota", "Jeep", "Honda", "Hyundai"]
my_cars.extend(your_cars)
print(my_cars)

List objects have a `sort()` method that will sort the list alphanumerically, ascending, by default:

**Example 1**

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

**Example 2**

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

To sort descending, use the keyword argument `reverse = True`:

**Example 1**

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

**Example 2**

In [ ]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

Find more array methods at [this link](https://www.w3schools.com/python/python_lists_methods.asp).

## Strings

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

This means that a string can be treated exactly as the arrays of the previous section, importing all the array methods.

At the same time, there are methods for string types existing that facilitate their manipulation. See a few selected examples below, while the full list can be found at [this link](https://www.w3schools.com/python/python_ref_string.asp).

The `replace()` method replaces a string with another string:

In [ ]:
a = "Hello, World!"
print(a.replace("H", "J"))

The `split()` method returns a list where the text between the specified separator becomes the list items.

In [ ]:
a = "Hello, World!"
print(a.split(","))

Find more strings methods at [this link](https://www.w3schools.com/python/python_ref_string.asp).

To concatenate, or combine, two strings you can use the `+` operator:

In [ ]:
a = "Hello"
b = "World"
c = a + b
print(c)

*Exercise: add a space or a comma between the two words "Hello" and "World"*

As we learned, we cannot combine strings and numbers like this:

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

But we can combine strings and numbers by using the `format()` method!

The `format()` method takes the passed arguments, formats them, and places them in the string where the placeholders `{}` are:

In [ ]:
age = 36
txt = "My name is John, and I am {}".format(age)
print(txt)

The `format()` method takes unlimited number of arguments, and are placed into the respective placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars.".format(quantity, itemno, price)
print(myorder)

You can use index numbers `{0}` to be sure the arguments are placed in the correct placeholders:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}.".format(quantity, itemno, price)
print(myorder)

You can also use named indexes by entering a name inside the curly brackets (ex, `{PRICE}`), but then you must use names when you pass the parameter values (ex, `txt.format(PRICE=price)` or `txt.format(PRICE=70)`:

In [ ]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {PRICE} dollars for {QUANTITY} pieces of item {ITEMNO}.".format(QUANTITY=quantity, ITEMNO=itemno, PRICE=price)
print(myorder)
myorder = "I want to pay {PRICE} dollars for {QUANTITY} pieces of item {ITEMNO}.".format(QUANTITY=quantity, ITEMNO=itemno, PRICE=70)
print(myorder)

## Loops: `while` and `for`

With the `while` loop we can execute a set of statements as long as a condition is true.

In [ ]:
i=1
while i < 6:
  print(i)
  i+=1

With the `break` statement we can stop the loop even if the while condition is true:

In [ ]:
i=1
while i < 6:
  print(i)
  if i==3: break
  i+=1

With the `continue` statement we can stop the current iteration, and continue with the next:

In [ ]:
i=1
while i < 6:
  i+=1
  if i==3: continue
  print(i)

*Question: why are the `print` and `i+=1` statement inverted wrt the previous example?*

A `for` loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.

With the `for` loop we can execute a set of statements, once for each item in an array, tuple, set etc.

The `for` loop does not require an indexing variable to set beforehand.

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

As discussed in a previous section, strings are arrays such that you can loop over the character in the same way:

In [ ]:
for x in "banana":
  print(x)

With the `break` statement we can stop the loop before it has looped through all the items:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

With the `continue` statement we can stop the current iteration of the loop, and continue with the next:

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

To loop through a set of code a specified number of times, we can use the `range()` function,

The `range()` function returns a sequence of numbers, starting from `0` by default, and increments by `1` (by default), and ends at a specified number.

In [ ]:
for x in range(6):
  print(x)

The `range()` function defaults to `0` as a starting value, however it is possible to specify the starting value by adding a parameter: `range(2, 6)`, which means values from `2` to `6` (but not including `6`):

In [ ]:
for x in range(2, 6):
  print(x)

The `range()` function defaults to increment the sequence by `1`, however it is possible to specify the increment value by adding a third parameter: `range(2, 30, 3)`:

In [ ]:
for x in range(2, 30, 3):
  print(x)

*Exercise 1: insert `if` and `else` statements in the loop.*

*Exercise 2: code one nested loop with `if` and `else` statements.*

## Dictionaries

Dictionaries are used to store data values in **key:value pairs**. A dictionary is a collection which is ordered, changeable and do not allow duplicates.

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

Dictionaries cannot have two items with the same key and duplicate values will overwrite existing values:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

To determine how many items a dictionary has, use the `len()` function:

In [ ]:
print(len(thisdict))

The values in dictionary items can be of any data type:

In [ ]:
 thisdict =	{
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict)

It is also possible to use the `dict()` constructor to make a dictionary:

In [ ]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

As dictionary items are presented in **key:value pairs**, you can access the items of a dictionary by referring to its key name, inside square brackets:

In [ ]:
 thisdict =	{
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}
print(thisdict["brand"])

The `keys()` method will return a list of all the keys in the dictionary:

In [ ]:
print(thisdict.keys())

The `values()` method will return a list of all the values in the dictionary:

In [ ]:
print(thisdict.values())

*Exercise 1: modify the value of one of the key:value pairs of the dictionary.*

*Exercise 2: add a new key:value pair to the dictionary.*

The `items()` method will return each item in a dictionary, as tuples (i.e. a set of two elements) in a list:

In [ ]:
print(thisdict.items())

To determine if a specified key is present in a dictionary use the `in` keyword:

In [ ]:
if "year" in thisdict:
  print("Yes, 'year' is one of the keys in the thisdict dictionary")

There are several methods to remove items from a dictionary. The `pop()` method removes the item with the specified key name:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

The `popitem()` method removes the last inserted item:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

The `del` keyword removes the item with the specified key name:

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

You can loop through a dictionary by using a `for` loop over the key:value pairs or over the keys and values only in several ways:

**Example 1**

In [ ]:
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for x in thisdict: print(x)

**Example 2**

In [ ]:
for x in thisdict: print(thisdict[x])

**Example 3**

In [ ]:
for x in thisdict.values(): print(x)

**Example 4**

In [ ]:
for x in thisdict.keys(): print(x)

**Example 5**

In [ ]:
for x, y in thisdict.items(): print(x, y)

*Exercise: create a nested dictionary, i.e. a dictionary containing one or more other dictionaries.*